@use '../functions';

// Dark
$dark0: #010e1a;
$dark1: #031525;
$dark2: #0b2942;
$dark3: #1d4667;

// Light
$light0: #637777;
$light1: #d6deeb;

// Accents
$red: #ff6363;
$orange: #f78c6c;
$yellow: #ecc48d;
$green: #addb67;
$teal: #7fdbca;
$blue: #82aaff;
$purple: #c792ea;
